#dboardcontainer{
    background: linear-gradient(#e66465, #9198e5);
}
#buttonsbox{
    background-color:transparent;
    border-radius: 0rem;
    border: white solid 1px;
    min-width: 10rem;
    min-height: 10rem;
}

@media (max-width:1000px){
    #buttonsbox{
    margin-bottom: 1rem;
    min-height: 5rem;
    width: 100% !important;
    }
    h3{
        font-size: 2rem !important;
    }
    #base{
        border-radius: 0px !important;
    }
}
h3{
    color: rgb(68, 68, 68);
    font-weight: 700 !important;
}
