
.section4{
    background: linear-gradient(#eaa3ff, #9198e5);
    font-family: 'Lexend', sans-serif;
}
#loginb{
    border-radius: 4rem;
    min-width: 100%;
}
#loginb:hover{
    background-color:rgba(56, 56, 56, 0.267);
}
#exampleInputEmail1, #exampleInputPassword1{
    border-radius: 4rem;
    border: none;
    min-width: 100%;
    color: white;
}
#row2{
    width: 100% !important;
}