.section3{
    background: linear-gradient(#eaa3ff, #9198e5);
    font-family: 'Lexend', sans-serif;
}
#loginb, #signupb{
    border-radius: 4rem;
    min-width: 100%;
}
#loginb:hover{
    background-color:rgba(56, 56, 56, 0.267);
}
#row2{
    width: 100% !important;
}

